h1, h2, h3, h4, h5, p, label{
    color: white;
}

.navbar{
    height: 80px;
    transition: 0.5s;
}
.nav-link:hover{
    font-weight: 500;
}

.margin-custom{
    margin-top: 30px;
}

body{
    background-color: rgb(56, 56, 56);
    background-image: url(../backgorundimg_repeat.jpg);
    background-repeat: repeat;
    background-size: 100%;
    /* background-position: center; */
}

.vh-75{
    height: 75vh
}

.card-w{
    width: 18rem;
}

.img-preview{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}


.img-container{
    height: 450px;
    width: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-custom{
    width: 100%;
    height: 100%;
    object-fit: contain;
}